html{
  padding: 0;
  margin: 0;
}

body {
  position: relative; /* AKO DRUGOJ KLASI DAMO POSITION ABSOLUTE-> bice apsol. tj prva gore U ODNOSU NA PRETKA TJ BODY */
  background-color: #d9ebf1;
  margin: 0;
}

hr {
  border-style: dotted none none;
  border-width: 6px;
  border-color: grey;
  width: 8%;
  position: relative;
  margin: auto;

}

tr .contact-form:hover {
  background-color: #BFC9CA;
}


h1, h2, h3 {
  color: #176F9E;
}

.headingBox {
  background-color: #d9ebf1;
  margin-top:50px;
}

.containerForBox {
  background-color: #8ac1dd;
  width: 65%;
  border-radius: 60px;
  /*
  justify-content: center;   Ova 3 elementa centriraju div
  display: flex;
  align-items: center;*/
}

.headingBoxHoverClass:hover{
  background-color: gold;
}

.boxTitle {
  font-family: "Lucida Console", monospace;
}


/*nav ul
{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}*/
.navigationBar{
  background-color:#0077b6;
  background-position: center;

  width: 100%;
  height: 55px;

  margin:0;
  padding: 0;
  position: fixed;
  text-align: right;
  top: 0;

}
.navigationBar ul{
  display: inline-flex;
  list-style: none;
  margin: 0;

}
.navigationBar ul li {
  width: 120px;
  margin: 15px;
  font: strong;

}
.navigationBar ul li a{
  text-decoration: none;
  color: black;
}
.contact_h2 {
  top: 50px;
}
.table_previous_work {
  position: absolute;
}
.heading_contact {
  align-items:center;
}
.contact_logos{
  list-style: none;
}
.contact_form{
  justify-content: center;    /* 3 STAVKE ZA CENTRIRANJE DIVA*/
  display: flex;
  align-items: center;
}
.napoleon{
  width: 45%;
}
.napoleon:hover{
  width: 45%;
  background-color: gold;
}
